{% extends "flatpages/default.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{ request.user.username }}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя</div>

<button> <a href="{{settings.SITE_URL}}/accounts/logout/">Выйти</a></button>
{% if is_not_author %}
<button><a href="upgrade/">Стать автором</a></button>
{% endif %}
{% if not is_not_author %}
<button><a href="{% url 'news_create' %}">Создать пост</a></button>
{% endif %}
{% endblock %}